$background-color: #25294A;
//
$color-primary: #FFFFFF;
$color-main: #2F3569;
$color-secondary: #24C4CD;
$color-accent: #B801F9;
//Text Color
$color-text-primary: #ffffff;
$color-text-secondary: #5C6290;
//Variant
$color-variant-primary: #2F3569;
$color-variant-success: #8BC94C;
$color-variant-warning: #F2C94C;
$color-variant-danger: #EF4C4D;
$color-variant-info: #5C6290;