.btn-default {
	width: 23.5em;
	border-radius: 0.5rem;
	border: none;
	color: $color-text-primary !important;
	font-size: 1.8rem;
	font-weight: 800;
	padding: 0.5em;
	letter-spacing: 0.2em;
}

.btn::after {
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}
