//Abstracts
@import './abstracts/variables';
@import './abstracts/color';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/typography';

//Components
@import './components/input';
@import './components/button';
@import './components/dateTimePicker';
//Pages
@import './pages/login';
@import './pages/register';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	background-color: $background-color;
	font-family: var(--font-heading);
	color: var(--color-primary);
}
